<div id="home-hover-trigger">
</div>
<div id="home-hover">
</div>
  <p class="web-design-developement">
    Web Design & Development
  </p>

  <div id="home-container" class="col-sm-12 col-md-offset-1 col-md-5 fixed">

    <h1 class="header">
      Full stack<span class="underline" id="fullstack"></span> web development
      using the latest frameworks like - <div id="ruby-on-rails-div">Ruby on Rails<span class="underline" id="ruby-on-rails"></span></div>,
      AngularJS, and Bootstrap. Marvelously and obsessively
      designed by me.
    </h1>
    <br>
    <div class="row">
      <ul id="design" class="col-xs-12 col-sm-3 col-md-3">
        <h3>DESIGN</h3>
        <li>User Interface</li>
        <li>Brand</li>
        <li>Photoshop Design</li>
        <li>Illustrator Desgin</li>
      </ul>

      <ul id="development" class="col-lg-offset-1 col-xs-12 col-sm-3 col-md-3 ">
        <h3>DEVELOPMENT</h3>
        <li>Website & Web Application</li>
        <li>Ruby on Rails</li>
        <li>Test Driven Development</li>
      </ul>
    </div>

  </div>
    <%= image_tag 'portrait.png', id:'portrait'  %>
