// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#portrait {
  height: 100%;
  width: auto;
  position: fixed;
  right:90px;
  min-height: 500px;
  max-height: 800px;
  overflow: hidden;
}

@media (max-width: 991px) {
 #portrait {
   height: auto;
   width: 100%;
   position: relative;
   right: 0;
   min-height: none;
   max-height: none;
   overflow: visible;
 }
 #home-container {
   height: auto;
   max-width: none;
   overflow-x: visible;
   min-width: none;
   padding-right: 0px;
   margin-bottom: 20px;
 }
}

#home-container {
  // background-color: red;
  height: 100%;
  max-width: 880px;
  overflow-x: scroll;
  min-width: 300px;
  padding-right: 60px;
}
.header {
  margin-top: 85px;
  font-size: 30px;
  line-height: 1.24;
}
.underline {
  position: absolute;
  height: 15px;
  background-color: #a4bfce;
  bottom:100;
  display: inline-block;
  margin-top: 20px;
  z-index: -10;
}
#fullstack {
  width: 122px;
  margin-left: -118px;
}
#ruby-on-rails {
  width: 174px;
  margin-left: -171px;
}
#ruby-on-rails-div {
  width: 180px;
  display: inline-block;
}
#design, #development {
  width: 190px;
}

#skills{
  text-align: left;
  width: 400px;
}

#home-hover-trigger{
  position: fixed;
  height: 150%;
  width: 150%;
  overflow: hidden;
}
#home-hover-trigger {
  z-index: 1;
  padding-right: 200px;
}
