<!DOCTYPE html>
<html>
<head>
  <title>ResumePage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h3 class="hidden-sm hidden-xs" id="name">MALCOLM GOURDINE</h3>
<div id="sidebar">
  <ul class="navigation nav-right affix">
    <li id="hello">hello</li>
    <li id="portfolio">Portfolio</li>
    <li id="info">Info</li>
  </ul>
</div>

</body>
</html>
