<!DOCTYPE html>
<html>
<head>
  <title>ResumePage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h2 class="hidden-xs hidden-sm" id="name">MALCOLM GOURDINE</h2>
<div class="hidden-xs hidden-sm" id="sidebar">
  <ul class="navigation nav-right affix">
    <li id="hello-sidebar">hello</li>
    <li id="portfolio-sidebar">Portfolio</li>
    <li id="info-sidebar">Info</li>
  </ul>
</div>

<div class="hidden-md hidden-lg hidden-xl" id="footer-bar">
  <ul class="navigation nav-footer affix">
    <li id="hello-footer">hello</li>
    <li id="portfolio-footer">Portfolio</li>
    <li id="info-footer">Info</li>
  </ul>
</div>

</body>
</html>
